*, html, body {
	margin:0;
	padding:0;
	font-family:arial, sans-serif;
}
/* who needs a reset? */
#map {
	position:absolute;
	top:0px;
	bottom:0;
	left:300px;
	width:100%;
}
#dates {
	position:fixed;
	background-color:#fff;
	width:100%;
	padding:0;
	list-style-type:none;
	border-bottom:1px solid #c0c0c0;
}
#info {
	position:absolute;
	width:300px;
	left:0;
	top:0;
	bottom:0;
	padding:50px 0 0;
	border-right:1px solid #c0c0c0;
	box-sizing:border-box;  
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}
.game {
	padding:10px;
	box-sizing:border-box;  
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	border-bottom:1px solid #e5e5e5;
}
.game:first-child {
	border-top:1px solid #e5e5e5;
}
.game:hover {
	background-color:steelblue;
	color:#fff;
}
#dates li {
	display:inline;
}
#dates li a {
	float:left;
	padding:10px 10px;
	border-right:1px solid #e5e5e5;
	text-decoration: none;
	color:#555;
	font-weight:700;
	font-size:.8em;
}
#dates li a:hover {
	background-color:#dae6f0;
}
#dates li a.active {
	background-color:steelblue;
	color:#f6f6f6;
}
#dates li a.title {
	background-color:#222;
	color:#f6f6f6;
}
#dates li a.title:hover {
	background-color:#222;
	color:#f6f6f6;
	cursor:default;
}