*, html, body {
	margin:0;
	padding:0;
	font-family:arial, sans-serif;
}
.cf:before,
.cf:after {
    content:" ";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}
/* who needs a reset? */
#map {
	position:absolute;
	top:0px;
	bottom:0;
	left:300px;
	right:0;
}
#dates {
	position:fixed;
	background-color:#fff;
	width:100%;
	padding:0;
	list-style-type:none;
	border-bottom:1px solid #c0c0c0;
}
#info {
	position:absolute;
	width:300px;
	left:0;
	top:0;
	bottom:0;
	padding:50px 0 0;
	border-right:1px solid #c0c0c0;
	box-sizing:border-box;  
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}


.game {
	padding:10px;
	box-sizing:border-box;  
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	border-bottom:1px solid #e5e5e5;
	color:#444;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-ms-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}
.game:first-child {
	border-top:1px solid #e5e5e5;
}
.game:hover {
	background-color:#f1f1f1;
	cursor:pointer;
}
.game h4 {
	font-weight:700;
	font-size:.75em;
	text-transform:uppercase;
}
.game .date {
	float:right;
	color:#326295;
}
.game:hover .date {
}
.game .match {
	margin:20px auto;
	width:85%;
}
.team-one,
.team-two {
	text-align:center;
	color:#c0c0c0;
	font-size:.8em;
	width:40%;
}
.game .match .team-one {
	float:left;
}
.game .match .team-two {
	float:right;
}
.match .vs {
	position:absolute;
	width:30px;
	left:50%;
	margin-left:-10px;
	margin-top:15px;
	color:#999;
	font-weight:700;
}
.game-point {
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-ms-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}


#dates li {
	display:inline;
}
#dates li a {
	float:left;
	padding:10px 10px;
	border-right:1px solid #e5e5e5;
	text-decoration: none;
	color:#555;
	font-weight:700;
	font-size:.8em;
}
#dates li a:hover {
	background-color:#dae6f0;
}
#dates li a.active {
	background-color:#326295;
	color:#f6f6f6;
}
#dates li a.title {
	background-color:#222;
	color:#f6f6f6;
}
#dates li a.title:hover {
	background-color:#222;
	color:#f6f6f6;
	cursor:default;
}